.home {
    align-items: center;
    background:
        linear-gradient(
            to right,
            rgba($primary-color, .9),
            rgba($primary-color, .3)
        ),
        url("../img/model-1.jpg") center top;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    padding-top: 40vh;
    text-align: center;

    &__name {
        border-bottom: 2px solid #fff;
        font-size: 5rem;
        margin-top: 1rem;
        padding-bottom: 1rem;

        &--last {
            color: $secondary-color;
            font-weight: 700;
        }
    }
}